.header {
    background: #ffffff;
}

.header__inner {
    position: relative;
    margin: 0 auto;
    padding: 20px 15px;
    border-bottom: 1px solid #e0dfde;
    max-width: 1230px;
}

.header__logo {
    color: #8b7969;
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: 36px;
}

.header__button {
    position: absolute;
    top: 20%;
    right: 0;
    margin: 30px;
}

.header__button-submit {
    padding: 10px;
    width: 90px;
    line-height: 10px;
    border: 1px solid #d9c6b5;
    background: #f6f6f6;
    color: #d9c6b5;
    font-family: serif;
    font-size: 18px;
    cursor: pointer;
}

.login__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    background: #f1ece7;
}

.login__heading {
    margin-bottom: 40px;
    text-align: center;
    font-family: serif;
    color: #8b7969;
}

.login-form {
    display: block;
    margin: 0 auto;
    width: 70%;
    background: #ffffff;
    border: 1px solid #c5b9b0;
    border-radius: 3px;
}

.login-form__group {
    box-sizing: border-box;
    width: 50%;
}

.login-form__label--item {
    margin-left: 5px;
    padding: 4px 6px;
    color: #8b7969;
}

.login-form__input--text input {
    margin-left: 5px;
    padding: 4px 6px;
    border: none;
    background: #f4f4f4;
    color: #beb1a7;
}

.login-form__error {
    height: 20px;
    text-align: left;
    color: #ff0000;
}

.login-form--text {
    padding: 10px;
    width: 600px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.login-form__button {
    margin: 30px;
    text-align: center;

}

.login-form__button-submit {
    padding: 10px;
    width: 80px;
    line-height: 10px;
    border: none;
    background: #82756a;
    color: #ffffff;
    cursor: pointer;
}